In [1]:
import json
with open("practice.json", "r") as f:
    data = json.load(f)
    print(data)

{'company': 'TechVision', 'projects': [{'project_id': 201, 'name': 'Website Redesign', 'department': 'IT', 'budget': 150000, 'team': [{'id': 1, 'name': 'Ali', 'role': 'Lead'}, {'id': 2, 'name': 'Sara', 'role': 'Developer'}]}, {'project_id': 202, 'name': 'HR Portal', 'department': 'HR', 'budget': 80000, 'team': [{'id': 3, 'name': 'Ahmed', 'role': 'Manager'}, {'id': 4, 'name': 'Amara', 'role': 'Assistant'}]}, {'project_id': 203, 'name': 'Sales Dashboard', 'department': 'Sales', 'budget': 120000, 'team': [{'id': 5, 'name': 'Usman', 'role': 'Analyst'}, {'id': 6, 'name': 'Lina', 'role': 'Data Engineer'}]}]}

In [19]:
# 2️⃣ Beginner level
print("Company Name:", data["company"])  # Q2
print("First Project Name:", data["projects"][0]["name"])  # Q3
print("First Project Budget:", data["projects"][0]["budget"])  # Q4
print("First Team Member Name:", data["projects"][0]["team"][0]["name"])  # Q5

Company Name: TechVision
First Project Name: Website Redesign
First Project Budget: 150000
First Team Member Name: Ali

In [29]:
print("All project name and department")
for p in data["projects"]:
    print(p["name"],p["department"])

All project name and department
Website Redesign IT
HR Portal HR
Sales Dashboard Sales

In [30]:
print("\nAll Projects - Name & Budget:")  # Q7
for p in data["projects"]:
    print(p["name"], p["budget"])

All Projects - Name & Budget:
Website Redesign 150000
HR Portal 80000
Sales Dashboard 120000

In [31]:

print("\nTeam Sizes per Project:")  # Q8
for p in data["projects"]:
    print(p["name"], len(p["team"]))

Team Sizes per Project:
Website Redesign 2
HR Portal 2
Sales Dashboard 2

In [32]:
# Q9: Projects with budget > 100000
print("\nProjects with budget > 100000:")
for p in data["projects"]:
    if p["budget"] > 100000:
        print(p["name"], p["budget"])

Projects with budget > 100000:
Website Redesign 150000
Sales Dashboard 120000

In [ ]:
# Q10: Simple budget level column
for p in data["projects"]:
    if p["budget"] > 100000 :
        p["budget_level"] = "high"
    else:
        p["budget_level"] = "low"

In [35]:
print(data["projects"][0]["budget_level"])  # Verify budget_level addition

High

In [36]:
# 3️⃣ Medium Level
import pandas as pd
projects_df = pd.json_normalize(data["projects"], sep="_")  # Q11

In [37]:
print(projects_df)

   project_id              name department  budget  \
0         201  Website Redesign         IT  150000
1         202         HR Portal         HR   80000
2         203   Sales Dashboard      Sales  120000

                                                team budget_level
0  [{'id': 1, 'name': 'Ali', 'role': 'Lead'}, {'i...         High
1  [{'id': 3, 'name': 'Ahmed', 'role': 'Manager'}...          Low
2  [{'id': 5, 'name': 'Usman', 'role': 'Analyst'}...         High

In [39]:
team_df = pd.json_normalize(
    data["projects"],
    record_path="team",
    meta=["project_id", "name", "department", "budget", "budget_level"],
    record_prefix="team_",   # prefix for fields from team
    meta_prefix="project_",  # prefix for fields from project
)

In [40]:
print(team_df)

   team_id team_name      team_role project_project_id      project_name  \
0        1       Ali           Lead                201  Website Redesign
1        2      Sara      Developer                201  Website Redesign
2        3     Ahmed        Manager                202         HR Portal
3        4     Amara      Assistant                202         HR Portal
4        5     Usman        Analyst                203   Sales Dashboard
5        6      Lina  Data Engineer                203   Sales Dashboard

  project_department project_budget project_budget_level
0                 IT         150000                 High
1                 IT         150000                 High
2                 HR          80000                  Low
3                 HR          80000                  Low
4              Sales         120000                 High
5              Sales         120000                 High

In [43]:
# Q13: Total team members per department
team_count_dept = team_df.groupby("project_department")["team_id"].count().reset_index(name="total_team_members")
print("\nTeam Members per Department:\n", team_count_dept)

Team Members per Department:
   project_department  total_team_members
0                 HR                   2
1                 IT                   2
2              Sales                   2

In [44]:
team_count_dept = team_df.groupby("project_department")["team_id"].count().reset_index(name="total_team_members")
print("\nTeam Members per Department:\n", team_count_dept)

Team Members per Department:
   project_department  total_team_members
0                 HR                   2
1                 IT                   2
2              Sales                   2

In [46]:
print("\nUnique Roles:", team_df["team_role"].unique())

Unique Roles: ['Lead' 'Developer' 'Manager' 'Assistant' 'Analyst' 'Data Engineer']

In [48]:
print("\nIT Team Members:\n", team_df[team_df["project_department"]=="IT"])

IT Team Members:
    team_id team_name  team_role project_project_id      project_name  \
0        1       Ali       Lead                201  Website Redesign
1        2      Sara  Developer                201  Website Redesign

  project_department project_budget project_budget_level
0                 IT         150000                 High
1                 IT         150000                 High