In [ ]:
import pandas as pd

data = {
    "customer_id": ["C-001", "C_002", "ID003", "004"],
    "contact": [
        "Ali | ali123@gmail.com | +92-300-1234567",
        "Sara | sara.khan@company.com | 0300 9876543",
        "Usman | usman99@yahoo.com | +92 321 1112233",
        "Ayesha | ayesha@edu.pk | phone missing"
    ],
    "city": ["Karachi", "Lahore ", " Islamabad", "Karachi"]
}

df = pd.DataFrame(data)
print(df)

  customer_id                                      contact        city
0       C-001     Ali | ali123@gmail.com | +92-300-1234567     Karachi
1       C_002  Sara | sara.khan@company.com | 0300 9876543     Lahore
2       ID003  Usman | usman99@yahoo.com | +92 321 1112233   Islamabad
3         004       Ayesha | ayesha@edu.pk | phone missing     Karachi

In [2]:
df["email"] = df["contact"].str.extract(r"([\w\.-]+@[\w\.-]+)")

In [3]:
print(df)

  customer_id                                      contact        city  \
0       C-001     Ali | ali123@gmail.com | +92-300-1234567     Karachi
1       C_002  Sara | sara.khan@company.com | 0300 9876543     Lahore
2       ID003  Usman | usman99@yahoo.com | +92 321 1112233   Islamabad
3         004       Ayesha | ayesha@edu.pk | phone missing     Karachi

                   email
0       ali123@gmail.com
1  sara.khan@company.com
2      usman99@yahoo.com
3          ayesha@edu.pk

In [6]:
df["phone"] = df["contact"].str.extract(r"(\+?\d[\d\s\-]{9,})")
df["phone"] = df["phone"].str.replace(r"\D", "", regex=True)
print(df)

  customer_id                                      contact        city  \
0       C-001     Ali | ali123@gmail.com | +92-300-1234567     Karachi
1       C_002  Sara | sara.khan@company.com | 0300 9876543     Lahore
2       ID003  Usman | usman99@yahoo.com | +92 321 1112233   Islamabad
3         004       Ayesha | ayesha@edu.pk | phone missing     Karachi

                   email         phone
0       ali123@gmail.com  923001234567
1  sara.khan@company.com   03009876543
2      usman99@yahoo.com  923211112233
3          ayesha@edu.pk           NaN

In [7]:
df["city"] = df["city"].str.strip()
print(df)

  customer_id                                      contact       city  \
0       C-001     Ali | ali123@gmail.com | +92-300-1234567    Karachi
1       C_002  Sara | sara.khan@company.com | 0300 9876543     Lahore
2       ID003  Usman | usman99@yahoo.com | +92 321 1112233  Islamabad
3         004       Ayesha | ayesha@edu.pk | phone missing    Karachi

                   email         phone
0       ali123@gmail.com  923001234567
1  sara.khan@company.com   03009876543
2      usman99@yahoo.com  923211112233
3          ayesha@edu.pk           NaN

In [8]:
df["customer_id_clean"] = df["customer_id"].str.extract(r"(\d+)")
print(df)

  customer_id                                      contact       city  \
0       C-001     Ali | ali123@gmail.com | +92-300-1234567    Karachi
1       C_002  Sara | sara.khan@company.com | 0300 9876543     Lahore
2       ID003  Usman | usman99@yahoo.com | +92 321 1112233  Islamabad
3         004       Ayesha | ayesha@edu.pk | phone missing    Karachi

                   email         phone customer_id_clean
0       ali123@gmail.com  923001234567               001
1  sara.khan@company.com   03009876543               002
2      usman99@yahoo.com  923211112233               003
3          ayesha@edu.pk           NaN               004

In [9]:
df["email_type"] = df["email"].apply(
    lambda x: "Corporate" if "company" in x else "Public"
)

In [10]:
print(df)

  customer_id                                      contact       city  \
0       C-001     Ali | ali123@gmail.com | +92-300-1234567    Karachi
1       C_002  Sara | sara.khan@company.com | 0300 9876543     Lahore
2       ID003  Usman | usman99@yahoo.com | +92 321 1112233  Islamabad
3         004       Ayesha | ayesha@edu.pk | phone missing    Karachi

                   email         phone customer_id_clean email_type
0       ali123@gmail.com  923001234567               001     Public
1  sara.khan@company.com   03009876543               002  Corporate
2      usman99@yahoo.com  923211112233               003     Public
3          ayesha@edu.pk           NaN               004     Public

In [11]:
df[[
    "customer_id_clean",
    "email",
    "phone",
    "city",
    "email_type"
]]
print(df)

  customer_id                                      contact       city  \
0       C-001     Ali | ali123@gmail.com | +92-300-1234567    Karachi
1       C_002  Sara | sara.khan@company.com | 0300 9876543     Lahore
2       ID003  Usman | usman99@yahoo.com | +92 321 1112233  Islamabad
3         004       Ayesha | ayesha@edu.pk | phone missing    Karachi

                   email         phone customer_id_clean email_type
0       ali123@gmail.com  923001234567               001     Public
1  sara.khan@company.com   03009876543               002  Corporate
2      usman99@yahoo.com  923211112233               003     Public
3          ayesha@edu.pk           NaN               004     Public